<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--这个写包名加上类名-->
<mapper namespace="com.xixizai.personalblogwebsite.mapper.ArticleCommentMapper">

    <!--    批量审核通过评论-->
    <update id="batchApproveArticleComment">
        update article_comments
        set is_approved=1,update_time=now()
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


    <!--    批量删除评论-->
    <delete id="batchDeleteArticleComment">
        delete  from article_comments
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--    访客编辑评论-->
    <update id="updateContent">
        update article_comments set
        content_html=#{contentHtml},is_edited=1,
        content=#{content},update_time=now()
        where id=#{id}
    </update>
</mapper>
