<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--这个写包名加上类名-->
<mapper namespace="com.xixizai.personalblogwebsite.mapper.ExperienceMapper">
    <select id="getExperienceList" parameterType="list" resultType="com.xixizai.personalblogwebsite.pojo.entity.Experiences">
        select * from experiences
        where type in
        <foreach collection="list" item="type" open="(" separator="," close=")">
            #{type}
        </foreach>
        order by type ASC
    </select>
</mapper>
