<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--这个写包名加上类名-->
<mapper namespace="com.xixizai.personalblogwebsite.service.Impl.mapper.ReportMapper">
    <!--    查找省份-->
    <select id="getProvinceDistribution"
            resultType="com.xixizai.personalblogwebsite.pojo.dto.ProvinceCountDTO">
        select ifnull(province,'未知') as province ,count(*) as count
        from visitors
        group by province
        order by count
        desc
    </select>
    <!--    获取文章访问top10-->
    <select id="getArticleViewTop10"
            resultType="com.xixizai.personalblogwebsite.pojo.dto.ArticleTitleViewCountDTO">

        select title,view_count as viewCount
        from articles
        where is_published=1
        order by view_count desc
        limit 10
    </select>
</mapper>
