<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--这个写包名加上类名-->
<mapper namespace="com.xixizai.personalblogwebsite.service.Impl.mapper.ViewMapper">

<!--    批量删除浏览记录-->
    <delete id="batchDeleteViewRecords">
        delete from views
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
